<?xml version="1.0" encoding="utf-8" ?>
<widget xmlns             = "http://www.w3.org/ns/widgets"
                xmlns:gap     = "http://phonegap.com/ns/1.0"
                id                     = "com.mati.flappy"
                versionCode = "1"
                version           = "1.0.0" >
<name>Flappy bird</name>
<description>flap</description>
<author href = "" email = "">
Matiasss24
</author>
<preference name = "orientation" value = "portrait" />
<preference name = "Fullscreen" value = "true" />
<icon src = "res/icon.png" />
</widget>
